<p-table [value]="products" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Id. Reg</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <!-- <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td> -->
            <td>1</td>
            <td>dd:mm:yyyy HH:mm:ss</td>
        </tr>

    </ng-template>
</p-table>