<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div
        class="scalein animation-duration-500 animation-iteration-1 zoom flex flex-row flex-wrap align-items-center justify-content-center card-container yellow-container"
      >
        <div class="p-3 m-3 flex align-items-center justify-content-center">
          <img
            class="h-9rem w-9rem"
            src="../../assets/images/logo.png"
            alt="Logo Medicina"
          />
        </div>
      </div>

      <!-- <form class="login" #f="ngForm" (ngSubmit)="onSubmit(f)"> -->
        <div class="login">
        <div class="login__field">
          <i class="login__icon fa-solid fa-user"></i>
          <input
            type="text"
            class="login__input"
            placeholder="Correo"
            [(ngModel)]="username" name="username"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fa fa-lock"></i>
          <input
            type="password"
            class="login__input"
            placeholder="Contraseña"
            [(ngModel)]="password" name="password"
          />
          <!-- <input type="text" [(ngModel)]="username" name="username"> -->
          <!-- <p>{{ username + password}}</p> -->
        </div>
        <button (click)="onSubmit()" class="button login__submit">
          <span class="button__text">Ingresar</span>
          <i class="button__icon fa fa-chevron-right"></i>
        </button>
      <!-- </form> -->
    </div>
      <div class="social-login">
        <h3>Redes</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon pi pi-instagram"></a>
          <a href="#" class="social-login__icon pi pi-facebook"></a>
          <a href="#" class="social-login__icon pi pi-twitter"></a>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
