/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
  --paleta1: #fa0611;
  --paleta2: #ef4e4b;
  --paleta3: #020659;
  --paleta4: #020659;
  --paleta5: #010440;
  --paleta6: #0d0d0d;
  --paleta7: #e56e73;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: linear-gradient(90deg, #2c7cac, #6086af);
}

.card {
  /* background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem; */
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.84);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
}