<!-- <p>home works!</p>
<app-map-screen></app-map-screen>
<div class="fondo"></div>
<div class="card">
  <p>
    A glass-like card to demonstrate the
    <strong>Glassmorphism UI design</strong> trend.
  </p>
  <p class="card-footer">Created by Rahul C.</p>
</div> -->

<!-- <div class="card flex justify-content-center">
    <p-card header="Title">
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
</div> -->
<div class="card">
    <app-reloj></app-reloj>
</div>
