.contenedor-boton{
    background: #040d15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
/* .boton {
    position: relative;
    display: inline-block;
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
} */
.home{
    padding: 15px;
    margin: 25px;
}