<!-- <p>home works!</p>
<app-map-screen></app-map-screen>
<div class="fondo"></div>
<div class="card">
  <p>
    A glass-like card to demonstrate the
    <strong>Glassmorphism UI design</strong> trend.
  </p>
  <p class="card-footer">Created by Rahul C.</p>
</div> -->

<!-- <div class="card flex justify-content-center">
    <p-card header="Title">
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
</div> -->
<p-toast></p-toast>
<div class="flex align-content-center align-items-center align-content-center justify-content-center">
<div
  class="flex scalein animation-ease-out animation-duration-300 animation-iteration-1 card home flex flex-column align-content-center align-items-center md:w-30rem mx-3"
>
  <div
    class="scalein animation-delay-400 animation-duration-1000 animation-iteration-1 text-2xl flex flex-row"
  >
    <p class="flex font-italic">{{saludo}}</p>
    <p class="flex font-bold pl-2 nombre">{{nombreusuario}}</p>
  </div>
  <app-reloj></app-reloj>
  <div class="mt-2 mb-3"><app-boton-principal></app-boton-principal></div>
  <div class="flex flex-column align-content-center align-items-center justify-content-center">
    <!-- <div class="flex mb-1 z-2"><app-lista></app-lista></div> -->
    <div class="flex z-1"><app-asignatura-lista></app-asignatura-lista></div>
  </div>
  <app-map-screen
    class=" w-full h-10rem my-1 mb-3 border-round opacity-70"
  ></app-map-screen>
  <app-historial
    class="w-12 h-10rem mb-3 mt-2 border-round opacity-80"
  ></app-historial>
</div>
</div>