<div
  class="card m-2 md:ml-8 md:m-4 scalein animation-ease-in-out animation-duration-500 py-3"
>
  <div class="flex align-content-end justify-content-end mb-1">
    <div class="mx-1">
      <p-button
        icon="pi pi-filter"
        styleClass="p-button-secondary"
        (click)="mostrarfiltros()"
      ></p-button>
    </div>
  </div>
  <p-table [value]="asistencias" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Estado</th>
        <th>Fecha y hora</th>
        <th>Ubicacion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asistencia>
      <tr>
        <td>{{ asistencia.id }}</td>
        <td>{{ asistencia.estado }}</td>
        <td>{{ asistencia.fecha_hora_registro |date :'medium'}}</td>
        <td>{{ asistencia.ubicacion_registro }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
